@charset "UTF-8";
/* CSS Document */

html {
  background: url(../img/symphony.png);
  background-size:cover
  background-position: center;
  height: 100%;
}
body{
  height: 100%
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  height: 100%;
  width: 100%;
}

.content {
display: flex;
justify-content: center;
align-items: center;
backgroung: #222;
color: rgba(0, 0, 0, 0.8);
color: #fff;
font-family; 'Source Sans Pro', sans-serif;
font-size: 1.25rem;
line-height: 1.5;
border-radius: 10px;
width: 400px;
height: 400px;
}

.main-paragraph{
  width: 75%;
}

.content p span {
font-family: 'Lora', sans-serif;
font-size: 1.5rem;
{}


h1 {
  color: tomato;
}

h2 {
  color: Salmon;
}

a.eMail {
  color: DarkSeaGreen;
  text-decoration: none;
}

h1.Name {
  margin-bottom: 0px;
  border: 10px solid tomato;
  padding: 30px;
  display: inline;
}
display{
  display: flex;
}

#wrapper {
  margin-top: 150px;
}

h2.title {
  margin-top: 40px;
  padding: 30px;
}

.Phone_Number {
  color: DarkSeaGreen;
}

/* Quote Styles */
.inspirational-quote-goes-here {
  font-style: italic;
  font-size: 20px;
  margin-top: 50px;
  line-height: 30px;
}

.lineBreak {
  border: 1px solid grey;
  margin: 30px auto;
  width: 50%;
}